.about-us-page {
    color: #ffffff;
    background-color: #1c1c1c;
    padding: 20px;
    min-height: 100vh;
  }
  
  .about-us-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-us-page p {
    font-size: 18px;
    color: #d1d1d1;
  }