.images-page {
    display: flex;
    color: #ffffff;
    background-color: #1c1c1c;
    padding: 20px;
    min-height: 100vh;
  }
  
  .left-panel {
    flex: 1;
    padding: 20px;
  }
  
  .right-panel {
    flex: 1;
    padding: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #ffffff;
  }
  
  button {
    margin-top: 20px;
    background-color: #4eb5f1;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #61dafb;
  }