.nav-bar-wrapper {
    position: fixed;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    justify-content: center;
    z-index: 1000;
  }
  
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525; /* Changed background to grey */
    padding: 3px 3px; /* Thinner padding for a slimmer nav-bar */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Adds a shadow to make it look like a card */
    position: fixed; /* Keeps the nav-bar fixed on top */
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo {
    height: 30px; /* Reduced height for a thinner nav-bar */
    cursor: pointer;
    border-radius: 100%;
    padding: 1px;
    transition: all 0.4s ease; /* Smooth transition for hover effect */
  }
  .logo:hover {
    background-color: #333333;
    transform: scale(1.05);
  }
  
  .nav-button {
    background-color: #202020; /* Added background to images button */
    padding: 6px 10px; /* Restricted size */
    border-radius: 5px;
    cursor: pointer;
    width: 115px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 4px;
    transition-duration: 0.5s; /* Smooth transition for hover effect */
  }
  
  .nav-button:hover {
    background-color: #333333;
  }