.footer {
    background-color: #1c1c1c;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #333;
  }
  
  .footer button {
    background: none;
    border: none;
    color: #4eb5f1;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .footer button:hover {
    color: #61dafb;
  }